In [72]:
import pandas as pd

In [82]:
df=pd.read_csv("C:\\Users\\DELL\\Downloads\\netflix_titles.csv")

In [83]:
df.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...

In [84]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8807 entries, 0 to 8806
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8807 non-null   object
 1   type          8807 non-null   object
 2   title         8807 non-null   object
 3   director      6173 non-null   object
 4   cast          7982 non-null   object
 5   country       7976 non-null   object
 6   date_added    8797 non-null   object
 7   release_year  8807 non-null   int64
 8   rating        8803 non-null   object
 9   duration      8804 non-null   object
 10  listed_in     8807 non-null   object
 11  description   8807 non-null   object
dtypes: int64(1), object(11)
memory usage: 825.8+ KB

In [76]:
data.columns

Index(['show_id', 'type', 'title', 'director', 'cast', 'country', 'date_added',
       'release_year', 'rating', 'duration', 'listed_in', 'description'],
      dtype='object')

In [77]:
data.describe()

       release_year
count   8807.000000
mean    2014.180198
std        8.819312
min     1925.000000
25%     2013.000000
50%     2017.000000
75%     2019.000000
max     2021.000000

In [91]:
df.isnull().sum()

show_id            0
type               0
title              0
director        2634
cast             825
country          831
date_added        10
release_year       0
rating             4
duration           3
listed_in          0
description        0
dtype: int64

In [92]:
df.dropna()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
7,s8,Movie,Sankofa,Haile Gerima,"Kofi Ghanaba, Oyafunmike Ogunlano, Alexandra D...","United States, Ghana, Burkina Faso, United Kin...","September 24, 2021",1993,TV-MA,125 min,"Dramas, Independent Movies, International Movies","On a photo shoot in Ghana, an American model s..."
8,s9,TV Show,The Great British Baking Show,Andy Devonshire,"Mel Giedroyc, Sue Perkins, Mary Berry, Paul Ho...",United Kingdom,"September 24, 2021",2021,TV-14,9 Seasons,"British TV Shows, Reality TV",A talented batch of amateur bakers face off in...
9,s10,Movie,The Starling,Theodore Melfi,"Melissa McCarthy, Chris O'Dowd, Kevin Kline, T...",United States,"September 24, 2021",2021,PG-13,104 min,"Comedies, Dramas",A woman adjusting to life after a loss contend...
12,s13,Movie,Je Suis Karl,Christian Schwochow,"Luna Wedler, Jannis Niewöhner, Milan Peschel, ...","Germany, Czech Republic","September 23, 2021",2021,TV-MA,127 min,"Dramas, International Movies",After most of her family is murdered in a terr...
24,s25,Movie,Jeans,S. Shankar,"Prashanth, Aishwarya Rai Bachchan, Sri Lakshmi...",India,"September 21, 2021",1998,TV-14,166 min,"Comedies, International Movies, Romantic Movies",When the father of the man she loves insists t...
...,...,...,...,...,...,...,...,...,...,...,...,...
8801,s8802,Movie,Zinzana,Majid Al Ansari,"Ali Suliman, Saleh Bakri, Yasa, Ali Al-Jabri, ...","United Arab Emirates, Jordan","March 9, 2016",2015,TV-MA,96 min,"Dramas, International Movies, Thrillers",Recovering alcoholic Talal wakes up inside a s...
8802,s8803,Movie,Zodiac,David Fincher,"Mark Ruffalo, Jake Gyllenhaal, Robert Downey J...",United States,"November 20, 2019",2007,R,158 min,"Cult Movies, Dramas, Thrillers","A political cartoonist, a crime reporter and a..."
8804,s8805,Movie,Zombieland,Ruben Fleischer,"Jesse Eisenberg, Woody Harrelson, Emma Stone, ...",United States,"November 1, 2019",2009,R,88 min,"Comedies, Horror Movies",Looking to survive in a world taken over by zo...
8805,s8806,Movie,Zoom,Peter Hewitt,"Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...",United States,"January 11, 2020",2006,PG,88 min,"Children & Family Movies, Comedies","Dragged from civilian life, a former superhero..."
8806,s8807,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,"March 2, 2019",2015,TV-14,111 min,"Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...

In [93]:
df.isnull().sum()

show_id            0
type               0
title              0
director        2634
cast             825
country          831
date_added        10
release_year       0
rating             4
duration           3
listed_in          0
description        0
dtype: int64

In [94]:
df.fillna(value=90)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,90,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,90,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",90,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,90,90,90,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,90,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...
...,...,...,...,...,...,...,...,...,...,...,...,...
8802,s8803,Movie,Zodiac,David Fincher,"Mark Ruffalo, Jake Gyllenhaal, Robert Downey J...",United States,"November 20, 2019",2007,R,158 min,"Cult Movies, Dramas, Thrillers","A political cartoonist, a crime reporter and a..."
8803,s8804,TV Show,Zombie Dumb,90,90,90,"July 1, 2019",2018,TV-Y7,2 Seasons,"Kids' TV, Korean TV Shows, TV Comedies","While living alone in a spooky town, a young g..."
8804,s8805,Movie,Zombieland,Ruben Fleischer,"Jesse Eisenberg, Woody Harrelson, Emma Stone, ...",United States,"November 1, 2019",2009,R,88 min,"Comedies, Horror Movies",Looking to survive in a world taken over by zo...
8805,s8806,Movie,Zoom,Peter Hewitt,"Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...",United States,"January 11, 2020",2006,PG,88 min,"Children & Family Movies, Comedies","Dragged from civilian life, a former superhero..."
8806,s8807,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,"March 2, 2019",2015,TV-14,111 min,"Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...

In [95]:
df.isnull().sum()

show_id            0
type               0
title              0
director        2634
cast             825
country          831
date_added        10
release_year       0
rating             4
duration           3
listed_in          0
description        0
dtype: int64

In [96]:
df['director'].fillna(value='No Director Info', inplace=True)

In [98]:
df['cast'].fillna(value='No cast Info', inplace=True)

In [99]:
df.isnull().sum()

show_id           0
type              0
title             0
director          0
cast              0
country         831
date_added       10
release_year      0
rating            4
duration          3
listed_in         0
description       0
dtype: int64

In [100]:
df['country'].fillna(value='No country Info', inplace=True)

In [101]:
df.isnull().sum()

show_id          0
type             0
title            0
director         0
cast             0
country          0
date_added      10
release_year     0
rating           4
duration         3
listed_in        0
description      0
dtype: int64

In [140]:
df['date_added'].fillna('Unknown')

df['rating'].fillna('Not Rated')

df['duration'].fillna('Unknown')

0          90 min
1       2 Seasons
2        1 Season
3        1 Season
4       2 Seasons
          ...
8802      158 min
8803    2 Seasons
8804       88 min
8805       88 min
8806      111 min
Name: duration, Length: 8807, dtype: object

In [141]:
df.isnull().sum()

show_id         0
type            0
title           0
director        0
cast            0
country         0
date_added      0
release_year    0
rating          0
duration        0
listed_in       0
description     0
dtype: int64

In [142]:
df.duplicated().sum()

0

In [143]:
df.drop_duplicates(inplace=True)
print(" Duplicates removed")

 Duplicates removed

In [144]:
# Remove extra spaces and make first letters capital
df['country'] = df['country'].str.strip().str.title()

# Standardize rating column (remove spaces)
df['rating'] = df['rating'].str.strip().str.upper()

# Standardize type column
df['type'] = df['type'].str.strip().str.title()

# Standardize duration (remove spaces)
df['duration'] = df['duration'].str.strip()

In [145]:
df.columns

Index(['show_id', 'type', 'title', 'director', 'cast', 'country', 'date_added',
       'release_year', 'rating', 'duration', 'listed_in', 'description'],
      dtype='object')

In [146]:
print(df['country'].unique())   # see unique countries
print(df['rating'].unique())    # see unique ratings
print(df['type'].unique())      # see types

['United States' 'South Africa' 'No Country Info' 'India'
 'United States, Ghana, Burkina Faso, United Kingdom, Germany, Ethiopia'
 'United Kingdom' 'Germany, Czech Republic' 'Mexico' 'Turkey' 'Australia'
 'United States, India, France' 'Finland' 'China, Canada, United States'
 'South Africa, United States, Japan' 'Nigeria' 'Japan'
 'Spain, United States' 'France' 'Belgium' 'United Kingdom, United States'
 'United States, United Kingdom' 'France, United States' 'South Korea'
 'Spain' 'United States, Singapore' 'United Kingdom, Australia, France'
 'United Kingdom, Australia, France, United States'
 'United States, Canada' 'Germany, United States'
 'South Africa, United States' 'United States, Mexico'
 'United States, Italy, France, Japan'
 'United States, Italy, Romania, United Kingdom'
 'Australia, United States' 'Argentina, Venezuela'
 'United States, United Kingdom, Canada' 'China, Hong Kong' 'Russia'
 'Canada' 'Hong Kong' 'United States, China, Hong Kong'
 'Italy, United States' 'United States, Germany'
 'United Kingdom, Canada, United States' ', South Korea' 'Ireland'
 'India, Nepal' 'New Zealand, Australia, France, United States' 'Italy'
 'Italy, Brazil, Greece' 'Argentina' 'Jordan' 'Colombia'
 'United States, Japan' 'Belgium, United Kingdom'
 'Switzerland, United Kingdom, Australia' 'Israel, United States'
 'Canada, United States' 'Brazil' 'Argentina, Spain' 'Taiwan'
 'United States, Nigeria' 'Bulgaria, United States'
 'Spain, United Kingdom, United States' 'United States, China'
 'United States, France' 'Spain, France, United Kingdom, United States'
 ', France, Algeria' 'Poland' 'Germany'
 'France, Israel, Germany, United States, United Kingdom' 'New Zealand'
 'Saudi Arabia' 'Thailand' 'Indonesia' 'Egypt, Denmark, Germany'
 'United States, Switzerland' 'Hong Kong, Canada, United States'
 'Kuwait, United States' 'France, Canada, United States, Spain'
 'France, Netherlands, Singapore' 'France, Belgium'
 'Ireland, United States, United Kingdom' 'Egypt' 'Malaysia' 'Israel'
 'Australia, New Zealand' 'United Kingdom, Germany' 'Belgium, Netherlands'
 'South Korea, Czech Republic' 'Australia, Germany' 'Vietnam'
 'United Kingdom, Belgium' 'United Kingdom, Australia, United States'
 'France, Japan, United States'
 'United Kingdom, Germany, Spain, United States'
 'United Kingdom, United States, France, Italy'
 'United States, Germany, Canada'
 'United States, France, Italy, United Kingdom'
 'United States, United Kingdom, Germany, Hungary'
 'United States, New Zealand' 'Sweden' 'China' 'Lebanon' 'Romania'
 'Finland, Germany' 'Lebanon, Syria' 'Philippines' 'Iceland' 'Denmark'
 'United States, India' 'Philippines, Singapore, Indonesia'
 'China, United States, Canada' 'Lebanon, United Arab Emirates'
 'Canada, United States, Denmark' 'United Arab Emirates'
 'Mexico, France, Colombia' 'Netherlands' 'Germany, United States, France'
 'United States, Bulgaria'
 'United Kingdom, France, Germany, United States' 'Norway, Denmark'
 'Syria, France, Lebanon, Qatar' 'United States, Czech Republic'
 'Mauritius' 'Canada, South Africa' 'Austria' 'Mexico, Brazil'
 'Germany, France' 'Mexico, United States'
 'United Kingdom, France, Spain, United States' 'United States, Australia'
 'United States, United Kingdom, France' 'United States, Russia'
 'United States, United Kingdom, New Zealand' 'Australia, United Kingdom'
 'Canada, Nigeria, United States'
 'France, United States, United Kingdom, Canada' 'France, United Kingdom'
 'India, United Kingdom' 'Canada, United States, Mexico'
 'United Kingdom, Germany, United States'
 'Czech Republic, United Kingdom, United States' 'China, United Kingdom'
 'Italy, United Kingdom' 'China, Taiwan'
 'United States, Brazil, Japan, Spain, India'
 'United States, China, United Kingdom' 'Cameroon'
 'Lebanon, Palestine, Denmark, Qatar' 'Japan, United States'
 'Uruguay, Germany' 'Egypt, Saudi Arabia'
 'United Kingdom, France, Poland, Germany, United States'
 'Ireland, Switzerland, United Kingdom, France, United States'
 'United Kingdom, South Africa, France'
 'Ireland, United Kingdom, France, Germany' 'Russia, United States'
 'United Kingdom, United States, France' 'United Kingdom,'
 'United States, India, United Kingdom' 'Kenya' 'Spain, Argentina'
 'India, United Kingdom, France, Qatar' 'Belgium, France'
 'Argentina, Chile' 'United States, Thailand' 'Chile, Brazil'
 'United States, Colombia' 'Canada, United States, United Kingdom'
 'Uruguay' 'Luxembourg' 'United States, Cambodia, Romania' 'Bangladesh'
 'Spain, Belgium, United States'
 'United Kingdom, United States, Australia'
 'Canada, United States, France' 'Portugal, United States'
 'Portugal, Spain' 'India, United States' 'United Kingdom, Ireland'
 'United Kingdom, Spain, United States' 'Hungary, United States'
 'United States, South Korea' 'Canada, United States, Cayman Islands'
 'India, France' 'France, Canada' 'Canada, Hungary, United States'
 'Norway' 'Canada, United Kingdom, United States'
 'United Kingdom, Germany, France, United States' 'Denmark, United States'
 'Senegal' 'France, Algeria'
 'United Kingdom, Finland, Germany, United States, Australia, Japan, France, Ireland'
 'Philippines, Canada, United Kingdom, United States'
 'Ireland, France, Iceland, United States, Mexico, Belgium, United Kingdom, Hong Kong'
 'Singapore' 'Kuwait' 'United States, France, Serbia'
 'United States, Italy' 'Spain, Italy'
 'United States, Ireland, United Kingdom, India'
 'United Kingdom, Singapore' 'Hong Kong, United States'
 'United States, Malta, France, United Kingdom'
 'United States, China, Canada' 'Canada, United States, Ireland'
 'Lebanon, Canada, France' 'Japan, Canada, United States'
 'Spain, France, Canada' 'Denmark, Singapore, Canada, United States'
 'United States, France, Denmark' 'United States, China, Colombia'
 'Spain, Thailand, United States' 'Mexico, Spain'
 'Ireland, Luxembourg, Belgium' 'China, United States' 'Canada, Belgium'
 'Canada, United Kingdom'
 'Lebanon, United Arab Emirates, France, Switzerland, Germany'
 'France, Belgium, Italy' 'Lebanon, United States, United Arab Emirates'
 'Lebanon, France' 'France, Lebanon' 'France, Lebanon, United Kingdom'
 'France, Norway, Lebanon, Belgium'
 'Sweden, Czech Republic, United Kingdom, Denmark, Netherlands'
 'United States, United Kingdom, India' 'Indonesia, Netherlands'
 'Turkey, South Korea' 'Serbia, United States' 'Namibia'
 'United Kingdom, Kenya' 'United Kingdom, France, Germany, Spain'
 'United Kingdom, France, United States, Belgium, Luxembourg, China, Germany'
 'Thailand, United States' 'United States, France, Canada, Belgium'
 'United Kingdom, China' 'Germany, China, United Kingdom'
 'Australia, New Zealand, United States'
 'Hong Kong, Iceland, United States' 'France, Australia, Germany'
 'United States, Belgium, Canada, France' 'South Africa, Angola'
 'United States, Philippines'
 'United States, United Kingdom, Canada, China'
 'United States, Canada, United Kingdom' 'Turkey, United States'
 'Peru, Germany, Norway' 'Mozambique' 'Brazil, France'
 'China, Spain, South Korea, United States' 'Spain, Germany'
 'Hong Kong, China' 'France, Belgium, Luxembourg, Cambodia,'
 'United Kingdom, Australia' 'Belarus' 'Indonesia, United Kingdom'
 'Switzerland, France, Belgium, United States' 'Ghana'
 'Spain, France, Canada, United States' 'Chile, Italy'
 'United Kingdom, Nigeria' 'Chile' 'France, Egypt' 'Egypt, France'
 'France, Brazil, Spain, Belgium' 'Egypt, Algeria'
 'Canada, South Korea, United States' 'Nigeria, United Kingdom'
 'United States, France, Canada' 'Poland, United States'
 'United Arab Emirates, Jordan, Lebanon, Saudi Arabia'
 'United States, Mexico, Spain, Malta'
 'Saudi Arabia, United Arab Emirates' 'Zimbabwe'
 'United Kingdom, Germany, United Arab Emirates, New Zealand'
 'Romania, United States' 'Canada, Nigeria'
 'Saudi Arabia, Netherlands, Germany, Jordan, United Arab Emirates, United States'
 'United Kingdom, Spain' 'Finland, France'
 'United Kingdom, Germany, United States, France'
 'India, United Kingdom, China, Canada, Japan, South Korea, United States'
 'Italy, United Kingdom, France' 'United States, Mexico, Colombia'
 'Turkey, India' 'Italy, Turkey' 'United Kingdom, United States, Japan'
 'France, Belgium, United States' 'Puerto Rico, United States, Colombia'
 'Uruguay, Argentina' 'United States, United Kingdom, Japan'
 'United States, Argentina' 'United Kingdom, Italy'
 'Ireland, United Kingdom'
 'United Kingdom, France, Belgium, Canada, United States'
 'Netherlands, Germany, Denmark, United Kingdom' 'Hungary'
 'Austria, Germany' 'Taiwan, China'
 'United Kingdom, United States, Ireland' 'South Korea, United States'
 'Brazil, United Kingdom' 'Pakistan, United States'
 'Romania, France, Switzerland, Germany' 'Romania, United Kingdom'
 'France, Malta, United States' 'Cyprus'
 'United Kingdom, France, Belgium, Ireland, United States'
 'United States, Norway, Canada' 'Kenya, United States'
 'France, South Korea, Japan, United States' 'Taiwan, Malaysia'
 'Uruguay, Argentina, Germany, Spain'
 'United States, United Kingdom, France, Germany, Japan'
 'United States, France, Japan' 'United Kingdom, France, United States'
 'Spain, France, United States' 'Indonesia, South Korea, Singapore'
 'United States, Spain' 'Netherlands, Germany, Italy, Canada'
 'Spain, Germany, Denmark, United States' 'Norway, Sweden'
 'South Korea, Canada, United States, China' 'Argentina, Uruguay, Serbia'
 'France, Japan' 'Mauritius, South Africa' 'United States, Poland'
 'United Kingdom, United States, Germany, Denmark, Belgium, Japan'
 'India, Germany' 'India, United Kingdom, Canada, United States'
 'Philippines, United States' 'Romania, Bulgaria, Hungary'
 'Uruguay, Guatemala' 'France, Senegal, Belgium' 'United Kingdom, Canada'
 'Mexico, United States, Spain, Colombia' 'Canada, Norway'
 'Singapore, United States' 'Finland, Germany, Belgium'
 'United Kingdom, France' 'United States, Chile'
 'United Kingdom, Japan, United States' 'Spain, United Kingdom'
 'Argentina, United States, Mexico' 'United States, South Korea, Japan'
 'Canada, Australia' 'United Kingdom, Hungary, Australia' 'Italy, Belgium'
 'United States, United Kingdom, Germany' 'Switzerland'
 'Singapore, Malaysia'
 'France, Belgium, Luxembourg, Romania, Canada, United States'
 'South Africa, Nigeria' 'Spain, France' 'United Kingdom, Hong Kong'
 'Pakistan' 'Brazil, United States'
 'Denmark, Brazil, France, Portugal, Sweden' 'India, Turkey'
 'Malaysia, Singapore, Hong Kong' 'Philippines, Singapore'
 'Australia, Canada' 'Taiwan, China, France, United States'
 'Germany, Italy' 'Colombia, Peru, United Kingdom'
 'Thailand, China, United States' 'Argentina, United States'
 'Sweden, United States' 'Uruguay, Spain, Mexico'
 'France, Luxembourg, Canada' 'Denmark, Spain' 'Chile, Argentina'
 'United Kingdom, Belgium, Sweden' 'Canada, Brazil' 'Italy, France'
 'Canada, Germany' 'Pakistan, United Arab Emirates' 'Ghana, United States'
 'Mexico, Finland' 'United Arab Emirates, United Kingdom, India'
 'Netherlands, Belgium' 'United States, Taiwan'
 'Austria, Iraq, United States' 'United Kingdom, Malawi'
 'Paraguay, Argentina' 'United Kingdom, Russia, United States'
 'India, Pakistan' 'Indonesia, Singapore' 'Spain, Belgium'
 'Iceland, Sweden, Belgium' 'Croatia' 'Uruguay, Argentina, Spain'
 'United Kingdom, Ireland, United States'
 'Canada, Germany, France, United States' 'United Kingdom, Japan'
 'Norway, Denmark, Netherlands, Sweden' 'Hong Kong, China, United States'
 'Ireland, Canada' 'Italy, Switzerland, France, Germany'
 'Mexico, Netherlands' 'United States, Sweden' 'Germany, France, Russia'
 'France, Iran, United States' 'United Kingdom, India'
 'Russia, Poland, Serbia' 'Spain, Portugal' 'Peru' 'Mexico, Argentina'
 'United Kingdom, Canada, United States, Cayman Islands'
 'Indonesia, United States'
 'United States, Israel, United Kingdom, Canada'
 'Norway, Iceland, United States' 'Czech Republic, United States'
 'United Kingdom, India, United States' 'United Kingdom, West Germany'
 'India, Australia' 'United States,'
 'Belgium, United Kingdom, United States' 'India, Germany, Austria'
 'United States, Brazil, South Korea, Mexico, Japan, Germany'
 'Spain, Mexico' 'China, Japan' 'Argentina, France'
 'China, United States, United Kingdom'
 'France, Luxembourg, United States' 'China, United States, Australia'
 'Colombia, Mexico' 'United States, Canada, Ireland' 'Chile, Peru'
 'Argentina, Italy' 'Canada, Japan, United States'
 'United Kingdom, Canada, United States, Germany'
 'Italy, Switzerland, Albania, Poland' 'United States, Japan, Canada'
 'Cambodia' 'Italy, United States, Argentina'
 'Saudi Arabia, Syria, Egypt, Lebanon, Kuwait'
 'United States, Canada, Indonesia, United Kingdom, China, Singapore'
 'Spain, Colombia'
 'United Kingdom, South Africa, Australia, United States' 'Bulgaria'
 'Argentina, Brazil, France, Poland, Germany, Denmark'
 'United Kingdom, Spain, United States, Germany' 'Philippines, Qatar'
 'Netherlands, Belgium, Germany, Jordan'
 'United Arab Emirates, United States' 'Norway, Germany, Sweden'
 'South Korea, China' 'Georgia' 'Soviet Union, India'
 'Australia, United Arab Emirates' 'Canada, Germany, South Africa'
 'South Korea, China, United States' 'India, Soviet Union' 'India, Mexico'
 'Georgia, Germany, France' 'United Arab Emirates, Romania'
 'India, Malaysia' 'Germany, Jordan, Netherlands'
 'Turkey, France, Germany, Poland' 'Greece, United States'
 'France, United Kingdom, United States' 'Norway, Germany'
 'France, Morocco' 'Cambodia, United States' 'United States, Denmark'
 'United States, Colombia, Mexico'
 'United Kingdom, Italy, Israel, Peru, United States'
 'Argentina, Uruguay, Spain, France'
 'United Kingdom, France, United States, Belgium'
 'France, Canada, China, Cambodia'
 'United Kingdom, France, Belgium, United States' 'Chile, France'
 'Netherlands, United States' 'France, United Kingdom, India'
 'Czech Republic, Slovakia' 'Singapore, France' 'Spain, Switzerland'
 'United States, Australia, China' 'South Africa, United States, Germany'
 'United States, United Kingdom, Australia' 'Spain, Italy, Argentina'
 'Chile, Spain, Argentina, Germany' 'West Germany'
 'Austria, Czech Republic' 'Lebanon, Qatar'
 'United Kingdom, Jordan, Qatar, Iran' 'France, South Korea, Japan'
 'Israel, Germany, France' 'Canada, Japan, Netherlands'
 'United States, Hungary' 'France, Germany' 'France, Qatar'
 'United Kingdom, Germany, Canada' 'Ireland, South Africa'
 'Chile, United States, France' 'Belgium, France, Netherlands'
 'United Kingdom, Ukraine, United States'
 'Germany, Australia, France, China' 'Norway, United States'
 'United States, Bermuda, Ecuador'
 'United States, Hungary, Ireland, Canada'
 'United Kingdom, Egypt, United States'
 'United States, France, United Kingdom' 'Spain, Mexico, France'
 'United States, South Africa' 'Hong Kong, China, Singapore'
 'South Africa, China, United States' 'Denmark, France, Poland'
 'New Zealand, United Kingdom' 'Netherlands, Denmark, South Africa'
 'Iran, France' 'United Kingdom, United States, France, Germany'
 'Australia, France' 'Ireland, United Kingdom, United States'
 'United Kingdom, France, Germany' 'Canada, Luxembourg'
 'Brazil, Netherlands, United States, Colombia, Austria, Germany'
 'France, Canada, Belgium' 'Canada, France'
 'Bulgaria, United States, Spain, Canada' 'Sweden, Netherlands'
 'France, United States, Mexico'
 'Australia, United Kingdom, United Arab Emirates, Canada'
 'Australia, Armenia, Japan, Jordan, Mexico, Mongolia, New Zealand, Philippines, South Africa, Sweden, United States, Uruguay'
 'India, Iran' 'France, Belgium, Spain'
 'Denmark, Sweden, Israel, United States' 'United States, Iceland'
 'United Kingdom, Russia' 'United States, Israel, Italy, South Africa'
 'Netherlands, Denmark, France, Germany' 'South Korea, Japan'
 'United Kingdom, Pakistan' 'France, New Zealand'
 'United Kingdom, Czech Republic, United States, Germany, Bahamas'
 'China, Germany, India, United States' 'Germany, Sri Lanka'
 'United States, India, Bangladesh' 'United States, Canada, France'
 'Brazil, France, Germany' 'Germany, United States, Hong Kong, Singapore'
 'France, Germany, Switzerland'
 'Germany, France, Luxembourg, United Kingdom, United States'
 'United Kingdom, Canada, Italy' 'Czech Republic, France'
 'Taiwan, Hong Kong, United States, China' 'Germany, Australia'
 'United Kingdom, Poland, United States' 'Denmark, Zimbabwe'
 'United Kingdom, South Africa' 'Finland, Sweden, Norway, Latvia, Germany'
 'South Africa, United States, New Zealand, Canada'
 'United States, Italy, United Kingdom, Liechtenstein'
 'Denmark, France, Belgium, Italy, Netherlands, United States, United Kingdom'
 'United States, Australia, Mexico'
 'United Kingdom, Czech Republic, Germany, United States'
 'France, China, Japan, United States' 'United States, South Korea, China'
 'Germany, Belgium' 'Pakistan, Norway, United States'
 'United States, Canada, Belgium, United Kingdom' 'Venezuela'
 'Canada, France, Italy, Morocco, United States' 'Canada, Spain, France'
 'United States, Indonesia' 'Spain, France, Italy'
 'United Arab Emirates, United States, United Kingdom'
 'United Kingdom, Israel, Russia' 'Spain, Cuba' 'United States, Brazil'
 'United States, France, Mexico' 'United States, Nicaragua'
 'United Kingdom, United States, Spain, Germany, Greece, Canada'
 'Italy, Canada, France' 'United Kingdom, Denmark, Canada, Croatia'
 'Italy, Germany' 'United States, France, United Kingdom, Japan'
 'United States, United Kingdom, Denmark, Sweden'
 'United States, United Kingdom, Italy'
 'United States, France, Canada, Spain' 'Russia, United States, China'
 'United States, Canada, Germany' 'Ireland, United States'
 'United States, United Arab Emirates' 'United States, Ireland'
 'Ireland, United Kingdom, Italy, United States' 'Poland,'
 'Slovenia, Croatia, Germany, Czech Republic, Qatar'
 'Canada, United Kingdom, Netherlands' 'United States, Spain, Germany'
 'India, Japan' 'China, South Korea, United States'
 'United Kingdom, France, Belgium' 'Canada, Ireland, United States'
 'United Kingdom, United States, Dominican Republic'
 'United States, Senegal' 'Germany, United Kingdom, United States'
 'South Africa, Germany, Netherlands, France'
 'Canada, United States, United Kingdom, France, Luxembourg'
 'Ireland, United States, France' 'Germany, United States, Canada'
 'United Kingdom, Germany, Canada, United States'
 'United States, France, Canada, Lebanon, Qatar'
 'Netherlands, Belgium, United Kingdom, United States'
 'France, Belgium, China, United States' 'United States, Chile, Israel'
 'United Kingdom, Norway, Denmark, Germany, Sweden'
 'Norway, Denmark, Sweden' 'China, India, Nepal'
 'Colombia, Mexico, United States' 'United Kingdom, South Korea'
 'Denmark, China' 'United States, Greece, Brazil' 'South Korea, France'
 'United States, Australia, Samoa, United Kingdom'
 'Germany, United Kingdom' 'Argentina, Chile, Peru' 'Turkey, Azerbaijan'
 'Poland, West Germany' 'Germany, United States, Sweden' 'Canada, Spain'
 'United States, Cambodia' 'United States, Greece'
 'Norway, United Kingdom, France, Ireland' 'United Kingdom, Poland'
 'Israel, Sweden, Germany, Netherlands' 'Switzerland, France'
 'Italy, India' 'United States, Botswana'
 'Chile, Argentina, France, Spain, United States'
 'United States, India, South Korea, China'
 'Denmark, Germany, Belgium, United Kingdom, France'
 'Denmark, Germany, Belgium, United Kingdom, France, Sweden'
 'France, Switzerland, Spain, United States, United Arab Emirates'
 'Brazil, India, China, United States'
 'Denmark, France, United States, Sweden' 'Australia, Iraq'
 'China, Morocco, Hong Kong' 'Canada, United States, Germany'
 'United Kingdom, Thailand' 'Venezuela, Colombia'
 'Colombia, United States' 'France, Germany, Czech Republic, Belgium'
 'Switzerland, Vatican City, Italy, Germany, France'
 'Portugal, France, Poland, United States'
 'United States, New Zealand, Japan'
 'United States, Netherlands, Japan, France' 'India, Switzerland'
 'Canada, India' 'United States, Morocco' 'Singapore, Japan, France'

In [158]:
df['date_added'] = pd.to_datetime(df['date_added'], errors='coerce')

In [159]:
df.columns = df.columns.str.lower().str.replace(' ', '_')

In [160]:
df.dtypes

show_id                 object
type                    object
title                   object
director                object
cast                    object
country                 object
date_added      datetime64[ns]
release_year             int32
rating                  object
duration                object
listed_in               object
description             object
dtype: object

In [161]:
df['release_year'] = df['release_year'].astype(int)

In [162]:

df.dtypes

show_id                 object
type                    object
title                   object
director                object
cast                    object
country                 object
date_added      datetime64[ns]
release_year             int32
rating                  object
duration                object
listed_in               object
description             object
dtype: object

In [167]:
print(df.info())
print(df.isnull().sum())
print(df.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8807 entries, 0 to 8806
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8807 non-null   object
 1   type          8807 non-null   object
 2   title         8807 non-null   object
 3   director      8807 non-null   object
 4   cast          8807 non-null   object
 5   country       8807 non-null   object
 6   date_added    8807 non-null   object
 7   release_year  8807 non-null   int32
 8   rating        8807 non-null   object
 9   duration      8807 non-null   object
 10  listed_in     8807 non-null   object
 11  description   8807 non-null   object
dtypes: int32(1), object(11)
memory usage: 791.4+ KB
None
show_id         0
type            0
title           0
director        0
cast            0
country         0
date_added      0
release_year    0
rating          0
duration        0
listed_in       0
description     0
dtype: int64
  show_id     type                  title          director  \
0      s1    Movie   Dick Johnson Is Dead   Kirsten Johnson
1      s2  Tv Show          Blood & Water  No Director Info
2      s3  Tv Show              Ganglands   Julien Leclercq
3      s4  Tv Show  Jailbirds New Orleans  No Director Info
4      s5  Tv Show           Kota Factory  No Director Info

                                                cast          country  \
0                                       No cast Info    United States
1  Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...     South Africa
2  Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...  No Country Info
3                                       No cast Info  No Country Info
4  Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...            India

            date_added  release_year rating   duration  \
0  2021-09-25 00:00:00          2020  PG-13     90 min
1  2021-09-24 00:00:00          2021  TV-MA  2 Seasons
2  2021-09-24 00:00:00          2021  TV-MA   1 Season
3  2021-09-24 00:00:00          2021  TV-MA   1 Season
4  2021-09-24 00:00:00          2021  TV-MA  2 Seasons

                                           listed_in  \
0                                      Documentaries
1    International TV Shows, TV Dramas, TV Mysteries
2  Crime TV Shows, International TV Shows, TV Act...
3                             Docuseries, Reality TV
4  International TV Shows, Romantic TV Shows, TV ...

                                         description
0  As her father nears the end of his life, filmm...
1  After crossing paths at a party, a Cape Town t...
2  To protect his family from a powerful drug lor...
3  Feuds, flirtations and toilet talk go down amo...
4  In a city of coaching centers known to train I...

In [168]:
df.isnull().sum()

show_id         0
type            0
title           0
director        0
cast            0
country         0
date_added      0
release_year    0
rating          0
duration        0
listed_in       0
description     0
dtype: int64

In [169]:
df['date_added'].fillna('no date',inplace=True)

In [170]:
print(df.info())
print(df.isnull().sum())
print(df.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8807 entries, 0 to 8806
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8807 non-null   object
 1   type          8807 non-null   object
 2   title         8807 non-null   object
 3   director      8807 non-null   object
 4   cast          8807 non-null   object
 5   country       8807 non-null   object
 6   date_added    8807 non-null   object
 7   release_year  8807 non-null   int32
 8   rating        8807 non-null   object
 9   duration      8807 non-null   object
 10  listed_in     8807 non-null   object
 11  description   8807 non-null   object
dtypes: int32(1), object(11)
memory usage: 791.4+ KB
None
show_id         0
type            0
title           0
director        0
cast            0
country         0
date_added      0
release_year    0
rating          0
duration        0
listed_in       0
description     0
dtype: int64
  show_id     type                  title          director  \
0      s1    Movie   Dick Johnson Is Dead   Kirsten Johnson
1      s2  Tv Show          Blood & Water  No Director Info
2      s3  Tv Show              Ganglands   Julien Leclercq
3      s4  Tv Show  Jailbirds New Orleans  No Director Info
4      s5  Tv Show           Kota Factory  No Director Info

                                                cast          country  \
0                                       No cast Info    United States
1  Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...     South Africa
2  Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...  No Country Info
3                                       No cast Info  No Country Info
4  Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...            India

            date_added  release_year rating   duration  \
0  2021-09-25 00:00:00          2020  PG-13     90 min
1  2021-09-24 00:00:00          2021  TV-MA  2 Seasons
2  2021-09-24 00:00:00          2021  TV-MA   1 Season
3  2021-09-24 00:00:00          2021  TV-MA   1 Season
4  2021-09-24 00:00:00          2021  TV-MA  2 Seasons

                                           listed_in  \
0                                      Documentaries
1    International TV Shows, TV Dramas, TV Mysteries
2  Crime TV Shows, International TV Shows, TV Act...
3                             Docuseries, Reality TV
4  International TV Shows, Romantic TV Shows, TV ...

                                         description
0  As her father nears the end of his life, filmm...
1  After crossing paths at a party, a Cape Town t...
2  To protect his family from a powerful drug lor...
3  Feuds, flirtations and toilet talk go down amo...
4  In a city of coaching centers known to train I...

In [171]:
df.to_csv("C:\\Users\\DELL\\Downloads\\cleaned_netflix_data.csv", index=False)
print("Cleaned dataset saved successfully!")

Cleaned dataset saved successfully!